<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <%- include('../../partials/header.ejs'); %>


  <style>
    pre{
      max-height:400px;
    }
    .help-form label {
    font-weight: 600;
  }
  .help-form .box {
    background: var(--color-lane);
    padding: 0.5em 1em;
  }
  .help-form textarea {
    min-width:100%;
  }
  .help-form input, .help-form textarea {
    background: var(--color-body);
    color: var(--color-body-text);
    margin-bottom:.75em;
  }
  .night .help-form input:focus, .night .help-form textarea:focus {
    background: var(--color-lane-subtler);
  }
  .help-form .button-submit {
    width: 100%;
    text-align: center;
    background: var(--color-pop);
    height: 3em;
    color: var(--color-light);
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-standard-y);
    transition: background .5s ease;
  }
  .help-form .button-submit:hover {
    background: var(--color-pop-h);
  }
  .help-form .button-submit.disabled, .help-form .button-submit.disabled:hover{
    cursor: not-allowed;
    background: var(--color-lane);
    color: var(--color-lane-subtler);
  }

  .help-form .impact-boxes .cell input {
    display: none;
  }
  .help-form .impact-boxes .cell{
    display:flex;
  }
  .help-form .impact-boxes .cell label {
    border: 1px solid var(--color-lane);
    padding: 1em .5em;
    text-align: center;
    margin: .5em 0;
    width: 100%;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.1;

  }
   .box-verified-info{
    overflow:hidden;
   }
  .help-form label i{
    font-size: 2em;
    color: var(--color-lane-subtle);
    margin-bottom: .25em;
  }
  .help-form label .label2{
    font-weight: 400;
    color:var(--color-body-subtitle);
  }
  .help-form .impact-boxes .cell input:checked + label {
    background-color: var(--color-pop);
    color: var(--color-light);
    border-color: var(--color-pop-h);
  }
  .help-form .impact-boxes .cell input:checked + label .label2{
    color:var(--color-lane-subtle)
  }
  .help-form .impact-boxes .cell label:hover {
    background: var(--color-lane);
    color:var(--color-pop)
  }
  .input-box .content-label{
    font-size: 1rem;
    margin: 0;
    line-height:1;
  }
  .input-box .content{
    font-weight: 800;
    margin: 0;
  }
  .input-box .content2{
    font-size:.9em;
    font-weight:400;
    margin:0;
  }
  .box-verified-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-img-square {
    background: var(--color-user);
    width: 2em;
    height: 2em;
    font-size: 3em;
  }
  fieldset{
    padding: 1em;
    border: 1px dashed var(--color-lane);
    margin:1em 0;
    position: relative;
    transition: all .5s ease;
  }
  .add-student{
    text-align: center;
    width: 100%;
    padding: 1em;
    margin:1em auto;
    background:var(--color-lane);
    border-radius: 3px;
    box-shadow: var(--shadow-standard-y);
    transition:all .5s ease;
  }
  .add-student:hover{
    cursor:pointer;
    box-shadow: var(--shadow-standard-y-h);
    background: var(--color-bright-2);
  }
  legend {
    font-size: 1.25em;
    font-weight: 600;
  }
  fieldset:hover{
    background: var(--color-chrome);
  }
  #button-add-student{
    width: 80%;
    margin: 0 auto;
    display: block;
    background:var(--color-bright-2);
    transition: all .5s ease;
    margin-bottom:1em;
  }
  #button-add-student:hover{
    background:var(--color-lane-subtler);
  }
  .pasteExcel{
    width: 80%;
    margin: 0 auto;
    display: block;
    background:var(--color-pop);
    transition: all .5s ease;
    margin-bottom:1em;
  }
  .pasteExcel:hover{
    background:var(--color-lane-subtler);
  }
  .pasteExcel:focus,
  .pasteExcel:active{
    background:var(--color-pop-h);
  }
  textarea{
    resize: vertical;
  }
  .user-info{
    background: var(--color-lane);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
  }
  .user-info #full-name{
    font-weight:600;
    font-size:1.25em;
  }
  .user-info p{
    margin-bottom:.25em;
  }
  .user-info #verified{
    margin-bottom:.5em;
  }
  .toc a {
    padding: 1em;
    display: flex;
    margin: .5em 0;
    text-align: center;
    color: var(--color-body-text);
    align-items: center;
    transition:all .5s ease;
    background: transparent;
    border:1px dashed var(--color-lane);
  }
  .toc a:hover {
    background:var(--color-lane-subtle)
  }
  .toc a.active{
      background: var(--color-chrome);
      color: var(--color-body-pop);
      font-weight: 600;
      border:1px solid var(--color-chrome);
      box-shadow:var(--shadow-standard-y);
      border-left: 4px solid var(--color-pop);
      padding-left:1.25em;
  }
  .toc a.done{
      background: var(--color-lane);
      color: var(--color-body-text);
      font-weight: 600;
      border:1px solid var(--color-lane);
  }
  .toc-item.sub{
    margin-left:2em;
    position:relative;
  }
  .toc-item.sub:before{
    content: '';
    border-left: 1px dashed var(--color-lane);
    border-bottom: 1px dashed var(--color-lane);
    position: absolute;
    left: -1em;
    top: -.5em;
    width: 1em;
    height: calc(50% + .5em);
    transition:all .5s ease;
  }
  .toc-item.sub:hover:before{
    border-color:var(--color-lane-subtle)
  }
  .toc-item.sub.last:before{
    content: '';
    top: calc(-50% - .5em);
    height: calc(100% + .5em);
  }
  .help-form {
    background:var(--color-chrome);
    color:var(--color-body-text);
    padding:1em 2em;
    margin-bottom:1em;
    border-radius:3px;
    box-shadow: var(--shadow-standard-y);
  }

  .form-nav{
    display:flex;
    justify-content: space-between;
  }
  .form-nav-button{
    background: var(--color-pop);
    color: var(--color-light);
    padding: .5em 1em;
    margin-top: .9em;
    transition:all .5s ease;
  }
  .form-nav-button:hover{
    background:var(--color-pop-h)
  }
  .form-nav-button.disabled{
    visibility: hidden;
    user-select: none;

  }
  .carousel-cell a{
    color:var(--color-pop);
    text-decoration:underline;
  }
  .carousel-cell a:hover{
    color:var(--color-pop-h)
  }
  .form-label{
    font-weight:600;
  }
  .form-label-help{
    font-size:.875rem;
    margin-bottom:0;
    font-style: italic;
  }
  .box-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:1em 0;
  }
  .box-links a{
    padding: 1em;
    text-decoration: none;
    transition: all .5s ease;
    margin: 1em;
    text-align: center;
    border: 2px solid var(--color-pop);
    background: var(--color-light);
    color: var(--color-pop);
    border-radius: 3px;
  }
  .boundmap{
    display: none;
  }
  .box-links a:hover{
    background-color: var(--color-pop);
    color:var(--color-light);
  }
  .tos-content h1 {
      font-family: 'Roboto', Sans-Serif;
      font-weight: 800;
      font-Size: 2.5em;
      text-transform: capitalize;
      line-height: 1.2;
      padding-bottom: .25em;
      color:var(--color-pop);
    }
    .tos-head{
      background-color: var(--color-pop);
      height:300px;
    }
    .tos-content{
      background: var(--color-body);
      margin-top: -250px;
      padding: 2em;
      box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    }
    .tos-section p{
      background: var(--color-chrome);
      padding: 2em;
      margin: 1em 0;
      box-shadow: 0px 0px 0px rgba(0,0,0,.1);
      border-radius:3px;
      transition:all 1s ease;
    }
    .tos-section p:hover,.tos-section p:focus{
      box-shadow: 0px 0px 8px rgba(0,0,0,.1);
    }
    .tos-section{
      margin-bottom: 1em;
    }
    .site-wrapper{
      background:var(--color-lane)
    }
    .tos-section h2{
      font-family: 'Roboto', Sans-Serif;
    font-weight: 600;
    font-Size: 1.5em;
    text-transform: capitalize;
    line-height: 1;
    color: var(--color-body-text);
    }
    .tos-lead{
      font-weight: 600;
      position: relative;
      padding: 2em 0;
    }
    .tos-lead:before{
      height: 2px;
      content: '';
      background: var(--color-pop);
      position: absolute;
      width: 10%;
      top:0;
    }
    .signed{
      font-family: 'Homemade Apple', cursive;
      font-size: 1.8em;
      text-decoration: underline;
      text-align: center;
      margin: 0;
    }
    .dated{
      text-align: center;
      font-weight: 600;
      font-size: .875em;
    }
    .name-drop{
      color:var(--color-pop);
      transition: all .5s ease;
    }
    .name-drop:hover{
      color:var(--color-pop-h)
    }

    #nameSetter:focus{
      outline:none;
    }
    #button-submit:disabled{
      background-color:var(--color-lane);
      cursor:not-allowed;
      box-shadow:none;
      color:var(--color-body-subtitle);
      outline:none;
    }
    #nameSetter #setName, #button-submit{
      width: 100%;
      text-align: center;
      background: var(--color-pop);
      height: 3em;
      color: var(--color-light);
      cursor: pointer;
      outline: none;
      box-shadow: var(--shadow-standard-y);
      transition: background .5s ease;
    }
    #nameSetter #setName:hover{
      background: var(--color-pop-h);
    }
    #nameSetter input{
      background: var(--color-body);
      color: var(--color-body-text);
    }
    #nameSetter label{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: .875em;
    }
    #nameSetter p{
      font-weight: 600;
      position: relative;
      padding: .5em 0;
    }
    #nameSetter h2{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: 1.5em;
      text-transform: capitalize;
      line-height: 1;
      color: var(--color-body-text);
    }
    #readySign{
        background: var(--color-chrome);
        padding: 1em;
        border-radius: 3px;
        border: 1px dashed var(--color-pop);
      }
    .recaptcha{
      font-size: 0.75rem;
      margin-top: 1em;
      color: var(--color-body-subtitle);
      text-align: right;
    }
    .agreer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em 0 .875em 0;
    }
    .agreer label{
      font-weight: 800;
    }
    #agree,#GuardianAgree{
      width:2em;
      height:2em;
      margin:0;
    }
    #agree:disabled + label{
      color: var(--color-body-subtitle);
    }
    #sigBlock{
        display:none;
    }
    #sigBlock label{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: .875em;
    }
    .name-error{
      color:var(--color-bright-4);
      text-align: center;
      display:none;
    }
    .error-text{
      color:var(--color-bright-4);
      text-align: center;
      display:none;
    }
    .reveal{
      border: none;
      border-radius: 3px;
    }
    .sublabel{
      font-size: .875em;
      font-style: italic;
      color: var(--color-body-subtitle);
    }
    #age{
      display:none;
    }
    #age + label{
      text-align: center;
      color: var(--color-pop);
      margin: .5em auto;
      position: relative;
      width: 100%;
    }
    #age + label:hover{
      color:var(--color-pop-h);
      text-decoration: underline;
    }
    #age:disabled + label{
      color: var(--color-body-subtitle);
      cursor: not-allowed;
    }
    #age:disabled + label:hover{
      color: var(--color-body-subtitle);
      text-decoration: none;
    }
    #age:checked + label:before {
      content: "\f2f7";
      color: var(--color-bright-2);
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      margin-right: .5em;
    } 
    fieldset{
      border-top: 1px solid var(--color-lane);
      margin: 1em 0;
    }
    legend{
      font-size: 1.25em;
      font-weight: 600;
      text-align: center;
      color: var(--color-pop);
    }
    h3{
      margin-top: 2em;
    font-weight: 600;
    font-size: .875rem;
    }
    .error-text{
      font-size: .875em;
      color:var(--color-bright-4);
    }
    .dateWarningNote{
        background: var(--color-body);
        color: var(--color-body-text);
        padding: .5em;
        text-align: center;
        border: 1px dashed var(--color-lane-subtler);
        transition: all .5s ease;
    }
    .terms > ol{
      padding: 2em;
      background: var(--color-body);
      border: 1px dashed var(--color-lane);
      font-family: "Times New Roman", serif;
      counter-reset: tosCounter;
      list-style-type: none;
      margin:0;
    }
    .terms ol ol{
      padding-bottom: 0;
      padding-left: 2em;
    }
    .terms ol > li{
      margin-bottom:1em;
    }
    .terms > ol > li::before{
      counter-increment: tosCounter;
    content: counter(tosCounter);
    font-weight: 600;
    padding: 1em;
    margin-left: -2.5em;
    }

    .terms > ol > li{
      background: var(--color-chrome);
      padding: 2em 2em 2em 3em;
      box-shadow: var(--shadow-standard-y);
    }
    .terms > ol > li::marker{
      color: var(--color-body-text);
      font-weight: 800;
    }
    .terms .agreeGroup{
      display: flex;
      align-items: center;
      margin: 1em;
    }
    .terms .agreeGroup input{
      width: 2em;
    height: 2em;
    margin: .25em .5em;
    font-size: 2em;
    }
    .formInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--color-body);
      padding: 1em;
      border: 1px dashed var(--color-lane);
      margin-bottom:1em;
    }
    .formInfo p{
      margin:0;
    }
    .ca-menu-options{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      text-align: center;
      margin: 1em;
    }
    .ca-menu-options a{
      padding:2em;
      background-color: var(--color-pop);
      box-shadow: var(--shadow-standard-y);
      color:var(--color-light);
      margin: .5em;
      transition: all .5s ease;
    }
    .ca-menu-options a:hover{
      padding:2em;
      background-color: var(--color-pop-h);
      box-shadow: var(--shadow-standard-y-h);
      transition: all .5s ease;
    }
    .statusBlock{
      display: flex;
      justify-content: center;
      align-items: center;
      padding:1em;
    }
    @media screen and (max-width: 39.9375em) {
      .grid-container.grid-x.grid-margin-x {
        margin: auto;
        padding: 0;
      }
      .help-form{
        padding: 0;
      }
      fieldset{
        border: none;
      }
      h1{
        text-align: center;
      }
      .terms .agreeGroup input{
      width: 4em;
      height: 4em;
      margin: .25em .5em;
      font-size: 4em;
      }
    }
    @media print, screen and (min-width: 64em){
      .tos-terms-column{
        max-height: 65vh;
        overflow: auto;
        margin-top: -15em;
        position: relative;
      }
      .tos-terms-column::after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 20px;
        transition: all .5s ease;
        animation: shadow 3s ease-in-out infinite;
      }
      .tos-terms-column.scrolled::after {
        animation:none;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,.3);
      }

      #readySign{
        display:none;
      }
      
      .tos-ready{
        order:2
      }
      .tos-terms-column{
        order:3
      }
      .simplebar-scrollbar:before {
        opacity:.2;
      }
      .simplebar-scrollbar.waiting:before{
        animation: barwait 5s ease-in-out infinite;
      }
    }
    @keyframes shadow {
    0%   { box-shadow: inset 0 -8px 15px -8px rgba(0,0,0,.2);}
    50%  { box-shadow: inset 0 -8px 10px -8px rgba(0,0,0,.3);}
    100% { box-shadow: inset 0 -8px 15px -8px rgba(0,0,0,.2);}
  }
    @keyframes barwait {
      0%   {opacity:.1;transform:translateY(0)}
      50%  {opacity:.3;transform:translateY(20px)}
      100% {opacity:.1;transform:translateY(0)}
    }
    .card-list li{
      display: flex;
      background-color: var(--color-body);
      padding: 1em;
      margin: .5em;
      border-radius: 3px;
      box-shadow: var(--shadow-standard-y);
      transition: all .5s ease;
    }
    .card-list li:hover,.card-list li:focus,.card-list li:active{
      background-color: hsl(192, 68%, 95%);
      box-shadow: var(--shadow-standard-y-h);
    }
    .card-list li span i{
      font-size: 2em;
      width:4em;
      text-align: center;
    }
    .card-list li span:first-of-type{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: .5em
    }
    .help-form .impact-boxes .cell input:checked + label {
      background-color: hsl(192, 68%, 95%);
      color: var(--color-body-text);
      border-color: var(--color-bright-5);
      border-left-width: 6px;
    }
    #gobacktext {
      text-align: right;
      display: block;
      margin-top: -.875em;
      margin-bottom: 1em;
      font-size: .875em;
    }
    .help-form h3{
      margin-top:0;
    }

  </style>
  <script defer type="text/javascript" src="/js/pages/commencement-attest.js"></script>
</head>
<%- include('../../partials/layout/top.ejs'); %>

<div class="request-page">
  <div class="grid-container fluid">
    <div class="grid-container grid-x grid-margin-x" style="margin:auto;">
      <div class='cell small-12 medium-12 large-12'>
        <h1>WPI Commencement<br>
          COVID-19 Acknowledgement</h1>
        
        <% if( formType == 'Router'){%>
          <div class="ca-menu-options" id="caMenu">
            <a href="#" id="recordFinder"><i class="fas fa-ticket"></i> I am a Guest of a Graduating Student (with a ticket)</a>
            <a href="/io/CA/Grad/"><i class="fas fa-graduation-cap"></i> I am a Graduating Student</a>
            <a href="/io/CA/New/">Other Guest</a>
          </div>

          
          <div id="recordLookup" style="display:none;" class="help-form">
            <label for="locatorText">Lookup Record by Record Locator</label>
            <input type="text" id="locatorText" name="locatorText">
            <button id="lookupID" class="button-submit"><i class="fas fa-search"></i> Find Form by Record Locator</button>
            <p class="error-text" id="lookupError" style="display:none"></p>
          </div>
        <%}else{%>
        <div class="help-form">
          <% 
          var displayFields = true;
          var showGuard = false;
          var busobrecID = '';
          var name = '';
          var email = '';
          var wpiID = '';
          var currentStatus ='';

          if(formType == 'Graduate'){
            displayFields = false;
            showGuard = false;
            name = userAttributes.givenname + ' ' + userAttributes.surname;
            email = userAttributes.emailaddress;
            phone = ''
            wpiID = userAttributes['user.employeeid'];
            currentStatus = ''
          }
          else if(formType == 'Unknown'){
            displayFields = true;
            showGuard = true;
            name = "";
            email = "";
            wpiID = "";
            phone = '';
            currentStatus = ''
          }
          else if(formType == 'Guest'){
            displayFields = false;
            showGuard = true;
            name = CAForm.fields.find(f => f.name === 'FullName')['value']
            email = CAForm.fields.find(f => f.name === 'Email')['value']
            phone = CAForm.fields.find(f => f.name === 'Phone')['value']
            wpiID = CAForm.fields.find(f => f.name === 'StudentWPIID')['value']
            busobrecID = CAForm.busObRecId;
            currentStatus = CAForm.fields.find(f => f.name === 'Status')['value']
          }
            
          %> 
          <fieldset id="detailFields" style="<%= displayFields == false ? 'display:none' : ''%>">
            <legend>User Details</legend>
            <input type="hidden" id="busObRecId" name="busObRecId" value="<%=busobrecID%>">
            <input type="hidden" id="submitType" name="submitType" value="<%=formType%>">

            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" value="<%= name%>">

            <label for="name">Email</label>
            <input type="text" id="email" name="email" value="<%= email%>">

            <label for="name">Phone</label>
            <input type="text" id="phone" name="phone" value="<%= phone%>">

            <label for="name">Graduate's WPI ID</label>
            <input type="text" id="wpiID" name="wpiID" value="<%= wpiID%>">

          </fieldset>
          <% if(currentStatus != ''){%>
            <% if(currentStatus == 'Complete'){%>
              <div class="statusBlock" style="background-color:rgb(234, 251, 237);border:1px dashed var(--color-bright-2);">
                <i class="fad fa-check-circle" style="color:var(--color-bright-2);margin-right:.5em;"></i> You Have Completed your Acknowledgement.
              </div>
            <%}%>
            <% if(currentStatus == 'Waiting'){%>
              <div class="statusBlock" style="background-color: hsl(31, 100%, 95%);border:1px dashed var(--color-bright-3);">
                <i class="fad fa-hourglass" style="color:var(--color-bright-3);margin-right:.5em;"></i> Your form is Waiting for your response.
              </div>
            <%}%>

          <%}%>
          <div class="formInfo" style="<%= displayFields == true ? 'display:none' : ''%>">
            <p><strong>Name:</strong> <%= name%></p>
            <p><strong>Email:</strong> <%= email%></p>
            <p><strong>Graduate's WPI ID:</strong> <%= wpiID%></p>

          </div>

          <div id="showGuard" style="<%= showGuard == false ? 'display:none' : ''%>">
            <input type="checkbox" id="isGuardian" name="isGuardian">
            <label for="isGuardian">I am under 18 years of age</label>
          </div>

          <fieldset id="guardianBox" style="display:none;">
           <legend>Guardian Information</legend>

            <label for="guardName">Guardian's Full Name</label>
            <input type="text" id="guardName" name="guardName" value="">

            <label for="guardEmail">Guardian's Email</label>
            <input type="text" id="guardEmail" name="guardEmail" value="">

            <label for="guardPhone">Guardian's Phone Number</label>
            <input type="text" id="guardPhone" name="guardPhone" value="">

          </fieldset>

          <div class="terms">
            <p style="font-weight:600">I acknowledge and agree to the following terms as a condition of being allowed to attend WPI Commencement</p>
            
            <ol>
              <li>The novel coronavirus, COVID-19, is a highly infectious, life-threatening disease declared by the World Health Organization to be a global pandemic. COVID-19’s highly contagious nature means that contact with others, or contact with surfaces or areas that have been exposed to the virus, may lead to infection. Because of its highly contagious and sometimes “hidden” nature, it is currently very difficult to control the spread of COVID-19 or to determine whether, where, or how a specific individual may have been exposed to the disease.  I understand and acknowledge that given the unknown nature of COVID-19, it is not possible to list each and every individual risk of contracting COVID-19.</li>
              <li>I will not come to campus or attend WPI Commencement if:
                <ol type="a">
                  <li>I am experiencing any COVID-19-like symptoms such as fever (100.0° and above) or chills, cough, shortness of breath, sore throat, fatigue, headache, muscle/body aches, runny nose/congestion, new loss of taste or smell, or nausea, vomiting or diarrhea; or</li>
                  <li>I have tested positive for COVID-19 within the past ten (10) days; or</li>
                  <li>I have had “close contact” within the past fourteen (14) days with an individual (including any member of my household) who has tested positive for COVID-19, is being tested for COVID-19, or has COVID-19-like symptoms.
                    <br>
                    “Close contact” means living in the same household as a person who has tested positive for COVID-19, caring for a person who has tested positive for COVID-19, being within 6 feet of a person who has tested positive for COVID-19 for 15 minutes or more, or coming in direct contact with secretions (e.g., sharing utensils, being coughed on) from a person who has tested positive for COVID-19; or</li>
                  <li>I am advised to self-isolate, self-quarantine, or get tested for COVID-19. </li>
                </ol>
              </li>
              <li>I will comply with WPI’s COVID-19 Protocols described on the <a href="https://www.wpi.edu/we-are-wpi" target="_blank" rel="norefer">We Are WPI</a> website, including:
                <ol type="a">
                  <li>Performing a daily self-check for symptoms.</li>
                  <li>Staying home and not coming to WPI Commencement if I am sick.</li>
                  <li>Wearing a face covering at all times on campus (gaiters, bandanas, and vented masks are not permitted).</li>
                  <li>Maintaining physical distance and staying at least six feet from others, except those in my household.</li>
                  <li>Washing my hands frequently with soap and water for at least 20 seconds or using alcohol-based hand sanitizers with at least 60% alcohol.</li>
                  <li>Avoiding touching my face, eyes, nose, and mouth; covering my coughs and sneezes; throwing out used tissues and washing my hands.</li>
                  <li>Avoiding shaking hands, hugging, or touching when greeting another person on campus who is not in my household.</li>
                  <li>Complying with instructions concerning access to buildings and spaces on campus, including occupancy limits and building and office-specific signage, including elevator limits, one-way hallways and stairwells, restroom limits, and designated entrances and exits. </li>
                  <li>Immediately reporting any positive COVID-19 test following WPI Commencement, for myself or a close contact, to WPI by contacting <a href="mailto:wearewpi@wpi.edu" target="_blank" rel="norefer">wearewpi@wpi.edu</a>.</li>
                </ol>
              </li>
              <li>I will comply with the Massachusetts Travel Advisory.  I understand and acknowledge that pursuant to the Massachusetts Travel Advisory, WPI requires all visitors from outside Massachusetts to quarantine for 10 days upon their arrival in Massachusetts or ensure that they are exempt from the quarantine advisory.  
                <br>
                The Massachusetts Travel Advisory exempts the following individuals from the quarantine advisory:
                <ol type="a">
                  <li>Travelers who have received a negative COVID-19 test (PCR) not more than 72 hours prior to their arrival in Massachusetts or upon their arrival in Massachusetts.</li>
                  <li>Anyone entering Massachusetts for fewer than 24 hours.</li>
                  <li>Anyone who is returning to Massachusetts after being out-of-state for fewer than 24 hours.</li>
                  <li>Workers who perform critical infrastructure services (not applicable to WPI Commencement).</li>
                  <li>Travelers who are fully vaccinated and do not have symptoms.</li>
                  <li>Travelers who have tested positive for COVID-19 between 10-90 days prior to their arrival in Massachusetts, who have completed their appropriate isolation period, and do not have symptoms.</li>
                </ol>
              </li>
              <li>I understand and agree that WPI has the discretion to determine whether I am permitted to be on campus and attend WPI Commencement, and at any time may require me to leave and not return to campus if it is determined that I have not complied with WPI or public health policies or guidelines, or if my presence on campus poses a health risk to others.</li>
              <li>I voluntarily assume the risk that I may be exposed to or infected by COVID-19 by visiting the campus of WPI and attending WPI Commencement, and that such exposure or infection may result in personal injury, illness, permanent disability, and/or even death.  I understand that the risk of becoming exposed to or infected by COVID-19 at WPI may result from the actions, omissions, or negligence of myself and others, including WPI and its affiliates, subsidiaries, trustees, officers, students, employees and agents (collectively, “WPI”).</li>
            </ol>
            <div class="agreeGroup">
              <input id="iAgree" name="iAgree" type="checkbox">
              <label id="iAgreeText" for="iAgree">I have read this Acknowledgement Form, fully understand its terms and sign it freely and voluntarily without any inducement.  In executing this Acknowledgment Form, I assert that I am 18 years of age or older and make this decision informed of its implications and entirely of my own free will.</label>
              </div>

            <button id="button-submit-help-form" class="button-submit">Submit Commencement Acknowledgement Form</button>
            <p class="error-text"></p>
          </div>

        </div>
        <%}%>

      </div>
    </div>
  </div>
</div>

      


<%
const toasts = [
  {
    id: 'toast-save-success',
    type: 'success',
    title: 'Success',
    message: 'Your Commencement Acknowledgement has been recorded.',
    show: false
  },
  {
    id: 'toast-save-error',
    type: 'error',
    title: 'Whoops',
    message: 'Something went wrong trying to submit your Acknowledgement',
    show: false
  }
];
%>
<%- include('../../partials/components/toaster.ejs', { toasts }); %>

<%- include('../../partials/layout/bottom.ejs'); %>
</html>
