<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <%- include('../partials/header.ejs'); %>
  <%- include('../partials/moment.ejs'); %>
  <script async type="text/javascript" src="/js/components/TicketCard.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/search.css">
  <link rel="stylesheet" type="text/css" href="/css/me.css">
  <link rel="stylesheet" type="text/css" href="/css/my-apps.css"> <%# this is needed for the "you dont have tickets" stuff" %>
  <script defer type="text/javascript" src="/js/me/my-tickets.js"></script>
</head>
<%- include('../partials/layout/top.ejs'); %>

<%- include('./layout/top.ejs'); %>


<div class="grid-x grid-margin-x">

  <div class="cell medium-12 box card profile-section">
    <h2> <i class="far fa-sync"></i> Open Tickets</h2>
    <div class="profile-section-content" id="tickets-open">
      <h3>My Open Tickets</h3>
    </div>
    <div class="profile-section-content" id="tickets-subscribed">
      <h3>Tickets I'm Subscribed To</h3>
    </div>
  </div>
  
  <div class="cell medium-12 box card profile-section">
    <h2> <i class="far fa-history"></i> Ticket History</h2>
    <div class="profile-section-content" id="tickets-history">
      <h3>My Closed Tickets</h3>
    </div>
  </div>

</div>


<%- include('./layout/bottom.ejs'); %>

<%- include('../partials/layout/bottom.ejs'); %>
</html>
