<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <%- include('../partials/header.ejs'); %>
  <style>
    .error-block {
        height: 70vh;
        overflow: hidden;
    }

    .error-block h1 {
        font-weight: 800;
        font-size: 6em;
        margin-top: 10vh;
        color: var(--color-chrome);
    }

    .error-block h2 {
        font-size: 3em;
        color: var(--color-chrome);
    }

    .error-block p {
        font-size: 2em;
        color: var(--color-chrome);
    }

    body {
        background: var(--color-pop);
    }

    .layered {
        z-index: 99;
    }

    .bouncy {
        z-index: -2;

    }

    .bouncy img {
        animation-duration: 5s;
        flex: 1;
        width: 100px;
        height: 100px;
    }

    .x {
        animation: x 13s linear infinite alternate;
    }

    .y {
        animation: y 7s linear infinite alternate;
    }


    @keyframes x {
        100% {
            transform: translateX(calc(100vw - 100px - var(--ui-nav-w))) rotate(0deg);

        }
    }

    @keyframes y {
        100% {
            transform: translateY(calc(100vh - 180px)) rotate(360deg);
        }
    }


    @media screen and (max-width: 39.9375em) {
        .error-block h1 {
            font-size: 4em;
            margin-top: 5vh;
        }

        .error-block p {
            font-size: 1.5em;
            color: var(--color-chrome);
        }
    }
    p.error-sub {
        font-size: 1.2em;
    
    }
    .error-sub a{
        color: var(--color-light);
        text-decoration: underline;
    }
    </style>
</head>
<%- include('../partials/layout/top.ejs'); %>

  <div class="x bouncy">
    <img class="y fa-spin" src="/img/ico-intro.svg">
  </div>

  <div class="grid-container fluid swim-lane error-block">
    <div class="grid-container">
      <h1>Error: <%= error.status %></h1>
      <h2><%= error.name %></h2>
      <p><%= error.message %></p>
      <% if (!locals.user) { %>
      <p class="error-sub">You may need to <a href="/Login">sign in</a> or <a href="/Request">submit a request</a> in order to access this content</p>
      <% } %>
    </div>
  </div>

<%- include('../partials/layout/bottom.ejs'); %>
</html>