<style>
  .help-form label {
    font-weight: 600;
  }
  .help-form .box {
    background: var(--color-lane);
    padding: 0.5em 1em;
  }
  .help-form textarea {
    min-width:100%;
  }
  .help-form input, .help-form textarea {
    background: var(--color-body);
    color: var(--color-body-text);
    margin-bottom:.75em;
  }
  .night .help-form input:focus, .night .help-form textarea:focus {
    background: var(--color-lane-subtler);
  }
  .help-form .button-submit {
    width: 100%;
    text-align: center;
    background: var(--color-pop);
    height: 3em;
    color: var(--color-light);
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-standard-y);
    transition: background .5s ease;
  }
  .help-form .button-submit:hover {
    background: var(--color-pop-h);
  }
  .help-form .button-submit.disabled {
    cursor: not-allowed;
    background: var(--color-lane-subtler);
  }
  .help-form .impact-boxes .cell input {
    display: none;
  }
  .help-form .impact-boxes .cell{
    display:flex;
  }
  .help-form .impact-boxes .cell label {
    border: 1px solid var(--color-lane);
    padding: 1em .5em;
    text-align: center;
    margin: .5em 0;
    width: 100%;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
   .box-verified-info{
    overflow:hidden;
   }
  .help-form label i{
    font-size:2em;
  }
  .help-form label .label2{
    font-weight: 400;
    color:var(--color-body-subtitle);
  }
  .help-form .impact-boxes .cell input:checked + label {
    background-color: var(--color-pop);
    color: var(--color-light);
    border-color: var(--color-pop-h);
  }
  .help-form .impact-boxes .cell input:checked + label .label2{
    color:var(--color-lane-subtle)
  }
  .help-form .impact-boxes .cell label:hover {
    background: var(--color-lane);
    color:var(--color-pop)
  }
  .input-box .content-label{
    font-size: 1rem;
    margin: 0;
    line-height:1;
  }
  .input-box .content{
    font-weight: 800;
    margin: 0;
  }
  .input-box .content2{
    font-size:.9em;
    font-weight:400;
    margin:0;
  }
  .box-verified-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-img-square {
    background: var(--color-user);
    width: 2em;
    height: 2em;
    font-size: 3em;
  }
  fieldset{
    padding: 1em;
    border: 1px dashed var(--color-lane);
    margin:1em 0;
    position: relative;
    transition: all .5s ease;
  }
  .add-student{
    text-align: center;
    width: 100%;
    padding: 1em;
    margin:1em auto;
    background:var(--color-lane);
    border-radius: 3px;
    box-shadow: var(--shadow-standard-y);
    transition:all .5s ease;
  }
  .add-student:hover{
    cursor:pointer;
    box-shadow: var(--shadow-standard-y-h);
    background: var(--color-bright-2);
  }
  legend {
    font-size: 1.25em;
    font-weight: 600;
  }
  fieldset:hover{
    background: var(--color-chrome);
  }
  #button-add-student{
    width: 80%;
    margin: 0 auto;
    display: block;
    background:var(--color-bright-2);
    transition: all .5s ease;
    margin-bottom:1em;
  }
  #button-add-student:hover{
    background:var(--color-lane-subtler);
  }
  textarea{
    resize: vertical;
  }
  .user-info{
    background: var(--color-lane);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
  }
  .user-info #full-name{
    font-weight:600;
    font-size:1.25em;
  }
  .user-info p{
    margin-bottom:.25em;
  }
  .user-info #verified{
    margin-bottom:.5em;
  }
  .toc a {
    padding: 1em;
    display: flex;
    margin: .5em 0;
    text-align: center;
    color: var(--color-body-text);
    align-items: center;
    transition:all .5s ease;
    background: transparent;
    border:1px dashed var(--color-lane);
  }
  .toc a:hover {
    background:var(--color-lane-subtle)
  }
  .toc a.active{
      background: var(--color-chrome);
      color: var(--color-body-pop);
      font-weight: 600;
      border:1px solid var(--color-chrome);
      box-shadow:var(--shadow-standard-y);
      border-left: 4px solid var(--color-pop);
      padding-left:1.25em;
  }
  .toc a.done{
      background: var(--color-lane);
      color: var(--color-body-text);
      font-weight: 600;
      border:1px solid var(--color-lane);
  }
  .toc-item.sub{
    margin-left:2em;
    position:relative;
  }
  .toc-item.sub:before{
    content: '';
    border-left: 1px dashed var(--color-lane);
    border-bottom: 1px dashed var(--color-lane);
    position: absolute;
    left: -1em;
    top: -.5em;
    width: 1em;
    height: calc(50% + .5em);
    transition:all .5s ease;
  }
  .toc-item.sub:hover:before{
    border-color:var(--color-lane-subtle)
  }
  .toc-item.sub.last:before{
    content: '';
    top: calc(-50% - .5em);
    height: calc(100% + .5em);
  }
  .carousel { height: calc(100% - 8em);}

  .carousel-cell {
    height: 100%;
    width:100%;
    background:var(--color-chrome);
    color:var(--color-body-text);
    padding:2em;
    border-radius:3px;
    box-shadow: var(--shadow-standard-y);
  }

  .form-nav{
    display:flex;
    justify-content: space-between;
  }
  .form-nav-button{
    background: var(--color-pop);
    color: var(--color-light);
    padding: .5em 1em;
    margin-top: .9em;
    transition:all .5s ease;
  }
  .form-nav-button:hover{
    background:var(--color-pop-h)
  }
  .form-nav-button.disabled{
    visibility: hidden;
    user-select: none;

  }
  .carousel-cell a{
    color:var(--color-pop);
    text-decoration:underline;
  }
  .carousel-cell a:hover{
    color:var(--color-pop-h)
  }
  .form-label{
    font-weight:600;
  }
  .form-label-help{
    font-size:.875rem;
    margin-bottom:0;
    font-style: italic;
  }
  .subtitle{
    font-size: 1.25em;
    margin-top: -1em;
    margin-bottom: .25em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
</style>
<%
const toasts = [
  {
    id: 'toast-save-success',
    type: 'success',
    title: 'Success',
    message: 'Your request has been submitted.',
    show: false
  },
  {
    id: 'toast-save-error',
    type: 'error',
    title: 'Whoops',
    message: 'Something went wrong trying to submit your request',
    show: false
  }
]; 
%>
<%- include('../../../partials/components/toaster.ejs', { toasts }); %>
<div class="grid-container fluid">
  <div class="grid-container grid-x grid-margin-x" style="margin:auto;">
    <div class='cell  show-for-small-only'>
      <div style="font-size:6em;text-align:center;margin:.25em">
        <span class="fa-stack">
          <i class="fas fa-mobile-alt fa-stack-1x"></i>
          <i style="color:var(--color-pop)" class="fas fa-ban fa-stack-2x"></i>
        </span>
      </div>
      <p>Because this form requires extensive writing and text entry, for ease of use and best results, we recommend accessing the form from a computer.</p>
    </div>
    <div class='cell hide-for-small-only medium-4 large-3'>
      <% if (locals.user && user.id && locals.userAttributes) { %>
        <div class="user-info">
          <div class="profile-img-square" style="background-image:url('/img/ico-intro.svg');"></div>
          <p id="verified"><i class="far fa-badge-check color-bright-2"></i> Verified User</p>
          <p id="full-name"><%= userAttributes.givenname + ' ' + userAttributes.surname %></p>
          <p id="wpi-department"><%= userAttributes['user.department'] %></p>
          <p id="wpi-id"><%= userAttributes['user.employeeid'] %></p>
          <p id="wpi-email"><i class="fas fa-envelope-square"></i> <%= userAttributes.emailaddress %></p>
          <p id="wpi-phone"><i class="fas fa-phone-square"></i> <%= userAttributes['user.telephonenumber'] %></p>
        </div>
      <% } %>
      <div>
        <h2>Contents</h2>
        <ul class="toc no-bullet">
          <li><a class="toc-item active" data-controls="0" href="#">Before You begin</a></li>
          <li><a class="toc-item" data-controls="1" href="#">Plan History</a></li>
          <li><a class="toc-item" data-controls="2" href="#">About the Research</a></li>
          <li><a class="toc-item" data-controls="7" href="#">Certifications & Submit</a></li>
        </ul>
      </div>
    </div>
    <div class='cell  hide-for-small-only medium-8 large-9'>
      <h1>Essential Research / Project Form</h1>
      <!-- <p class="subtitle">In-Person Research & Projects over WPI's Term-Break</p> -->
      <div class="carousel help-form">
        <!-- Before You begin -->
        <div class="form-page carousel-cell" data-simplebar>
          <div style="font-size:8em;text-align:center;margin:.25em">
            <span class="fa-stack">
              <i style="color:var(--color-pop)" class="fas fa-octagon fa-stack-2x"></i>
              <i class="fas fa-hand-paper fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <h2>Before You Begin</h2>
          <p>The purpose of this document is to track access requests for the continuation of research and projects over the Winter Break between B-Term and C-Term.</p>

        </div>
        <!-- Prior form details Form -->
        <div class="form-page carousel-cell" data-simplebar>
          <p style="font-weight:600">Please fill out this form in its entirety.</p>

          <fieldset id="detail-questions">
            <legend>Plan History</legend>

            <label class="form-label"  for="RLR-1-original-ticket">Original Ticket #</label>
            <p class="form-label-help">If you have previously submitted a research or project plan, and have access to the ticket record, please provide the six digit ticket number of your original request.</p>
            <input type="text" id="RLR-1-original-ticket" name="RLR-1-original-ticket">
            
            <p class="form-label-help">Choose Department Head, Center Director, or other supervisor overseeing this lab, research, or project for compliance</p>
            <select id="RLR-4-head" name="RLR-4-head">
              <option value="">--</option>
              <option value="Billiar, Kristen">Billiar, Kristen</option>
              <option value="Brown, Donald R">Brown, Donald R</option>
              <option value="Butler, Andrew">Butler, Andrew</option>
              <option value="Capogna, Luca">Capogna, Luca</option>
              <option value="deWinter, Jennifer">deWinter, Jennifer</option>
              <option value="Douglas, Emily M">Douglas, Emily M</option>
              <option value="Duffy, Joseph B">Duffy, Joseph B</option>
              <option value="Eggleston, Carrick M">Eggleston, Carrick M</option>
              <option value="Gatsonis, Nikolaos A">Gatsonis, Nikolaos A</option>
              <option value="Fischer, Gregory S">Fischer, Gregory S</option>
              <option value="Gericke, Arne">Gericke, Arne</option>
              <option value="Korkin, Dmitry">Korkin, Dmitry</option>
              <option value="Krueger, Robert">Krueger, Robert</option>
              <option value="Mathisen, Paul P">Mathisen, Paul P</option>
              <option value="Mishra, Brajendra">Mishra, Brajendra</option>
              <option value="Moncrief, Kathryn">Moncrief, Kathryn</option>
              <option value="Petkie, Douglas T">Petkie, Douglas T</option>
              <option value="Roberts, Susan C.">Roberts, Susan C.</option>
              <option value="Rundensteiner, Elke A">Rundensteiner, Elke A</option>
              <option value="Simeoni, Albert">Simeoni, Albert</option>
              <option value="Strong, Diane M">Strong, Diane M</option>
              <option value="Wills, Craig E">Wills, Craig E</option>
              <option value="Xiao, Jing">Xiao, Jing</option>
              <option value="Yagoobi, Jamal">Yagoobi, Jamal</option>
            </select>
          </fieldset>

        </div>

        <!-- About the Research -->
        <div class="form-page carousel-cell" data-simplebar>

          <fieldset id="research-questions">
            <legend>About the Research or Project</legend>

            <label class="form-label" for="RLR-5-research">Describe the critical need and goals for the on-campus research, or face-to-face project work during the break period.</label>
            <textarea id="RLR-5-research" name="RLR-5-research" rows="3"></textarea>

            <label class="form-label" for="RLR-6-personnel">List all Lab or Research personnel who will need access restored.</label>
            <p class="form-label-help">The following are <strong>required</strong> in order to provision access (Full Name, WPI Email, WPI ID)</p>
            <textarea id="RLR-6-personnel" name="RLR-6-personnel" rows="4" placeholder="John Boynton, jboynton@wpi,edu, 123456789"></textarea>

            <label class="form-label" for="RLR-8-mqps">List all Project / MQP Students who will need access restored.</label>
            <p class="form-label-help">The following are <strong>required</strong> in order to provision access (Full Name, WPI Email, WPI ID)</p>
            <textarea id="RLR-8-mqps" name="RLR-8-mqps" rows="4" placeholder="John Boynton, jboynton@wpi,edu, 123456789"></textarea>

            <label class="form-label" for="RLR-7-locations">Where will this research take place?</label>
            <p class="form-label-help">Provide all buildings, rooms #s, and room names </p>
            <textarea id="RLR-7-locations" name="RLR-7-locations" rows="4" placeholder="Higgins Labs, HL230, Mechanical Engineering lab"></textarea>

            <p class="form-label-help"><strong>Please note</strong>: Existing Card Access will be restored as-is, if additional access is needed beyond the typical access your researchers would usually have, please specify</p>

            
          </fieldset>

        </div>

        <!-- Certifications & Submit -->
        <div class="form-page carousel-cell" data-simplebar>
          <h2>Certifications & Submit</h2>
          <p>The Office of the Vice Provost for Research will inform PIs, Project Leads, and center directors in writing once their research and project continuity requests have been approved.</p>
          <p>By submitting this form, you acknowledge that you have fully read the <a href="https://www.wpi.edu/news/coronavirus/return-campus-guidance">Return to Campus Guidance</a> and the <a href="https://www.wpi.edu/news/coronavirus/guidance-research/research-lab-reopening-guidance">Research Lab Reopening Guidance</a>.</p>
          <button id="button-submit-help-form" class="button-submit">Submit Access Request</button>
          <p style="font-size: 0.75rem;margin-top: 1em;color: var(--color-body-subtitle);background: var(--color-body);">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>

          
        </div>
        
      </div>
      <div class="form-nav">
        <button id="nav-back" class="form-nav-button back disabled">Back</button>
        <button id="nav-next" class="form-nav-button next">Continue</button>
      </div>
    </div>
  </div>
</div>