<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <%- include('../../partials/header.ejs'); %>


  <style>
    pre{
      max-height:400px;
    }
    .help-form label {
    font-weight: 600;
  }
  .help-form .box {
    background: var(--color-lane);
    padding: 0.5em 1em;
  }
  .help-form textarea {
    min-width:100%;
  }
  .help-form input, .help-form textarea {
    background: var(--color-body);
    color: var(--color-body-text);
    margin-bottom:.75em;
  }
  .night .help-form input:focus, .night .help-form textarea:focus {
    background: var(--color-lane-subtler);
  }
  .help-form .button-submit {
    width: 100%;
    text-align: center;
    background: var(--color-pop);
    height: 3em;
    color: var(--color-light);
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-standard-y);
    transition: background .5s ease;
  }
  .help-form .button-submit:hover {
    background: var(--color-pop-h);
  }
  .help-form .button-submit.disabled, .help-form .button-submit.disabled:hover{
    cursor: not-allowed;
    background: var(--color-lane);
    color: var(--color-lane-subtler);
  }

  .help-form .impact-boxes .cell input {
    display: none;
  }
  .help-form .impact-boxes .cell{
    display:flex;
    min-width: 33%;
  }
  .help-form .impact-boxes .cell label {
    border: 1px solid var(--color-lane);
    padding: 1em .5em;
    text-align: center;
    margin: .5em 0;
    width: 100%;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.1;
    font-size: 1em;
  }
  .help-form .impact-boxes .cell label .qty{
    font-size: .875em;
    font-weight: 400;
    margin-top: .5em;
  }
   .box-verified-info{
    overflow:hidden;
   }
  .help-form label i{
    font-size: 2em;
    color: var(--color-lane-subtle);
    margin-bottom: .25em;
  }
  .help-form label .label2{
    font-weight: 400;
    color:var(--color-body-subtitle);
  }
  .help-form .impact-boxes .cell input:checked + label {
    background-color: var(--color-pop);
    color: var(--color-light);
    border-color: var(--color-pop-h);
  }
  .help-form .impact-boxes .cell input:checked + label .label2{
    color:var(--color-lane-subtle)
  }
  .help-form .impact-boxes .cell label:hover {
    background: var(--color-lane);
    color:var(--color-pop)
  }
  .help-form .impact-boxes .cell.disabled label {
    background-color: var(--color-lane);
    color: var(--color-body-subtitle);
    cursor: not-allowed;
  }
  .help-form .impact-boxes .cell.disabled label:hover {
    background-color: var(--color-lane);
    color: var(--color-body-subtitle);
    cursor: not-allowed;
  }

  .input-box .content-label{
    font-size: 1rem;
    margin: 0;
    line-height:1;
  }
  .input-box .content{
    font-weight: 800;
    margin: 0;
  }
  .input-box .content2{
    font-size:.9em;
    font-weight:400;
    margin:0;
  }
  .box-verified-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-img-square {
    background: var(--color-user);
    width: 2em;
    height: 2em;
    font-size: 3em;
  }
  fieldset{
    padding: 1em;
    border: 1px dashed var(--color-lane);
    margin:1em 0;
    position: relative;
    transition: all .5s ease;
  }
  .add-student{
    text-align: center;
    width: 100%;
    padding: 1em;
    margin:1em auto;
    background:var(--color-lane);
    border-radius: 3px;
    box-shadow: var(--shadow-standard-y);
    transition:all .5s ease;
  }
  .add-student:hover{
    cursor:pointer;
    box-shadow: var(--shadow-standard-y-h);
    background: var(--color-bright-2);
  }
  legend {
    font-size: 1.25em;
    font-weight: 600;
  }
  fieldset:hover{
    background: var(--color-chrome);
  }
  #button-add-student{
    width: 80%;
    margin: 0 auto;
    display: block;
    background:var(--color-bright-2);
    transition: all .5s ease;
    margin-bottom:1em;
  }
  #button-add-student:hover{
    background:var(--color-lane-subtler);
  }
  .pasteExcel{
    width: 80%;
    margin: 0 auto;
    display: block;
    background:var(--color-pop);
    transition: all .5s ease;
    margin-bottom:1em;
  }
  .pasteExcel:hover{
    background:var(--color-lane-subtler);
  }
  .pasteExcel:focus,
  .pasteExcel:active{
    background:var(--color-pop-h);
  }
  textarea{
    resize: vertical;
  }
  .user-info{
    background: var(--color-lane);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
  }
  .user-info #full-name{
    font-weight:600;
    font-size:1.25em;
  }
  .user-info p{
    margin-bottom:.25em;
  }
  .user-info #verified{
    margin-bottom:.5em;
  }
  .toc a {
    padding: 1em;
    display: flex;
    margin: .5em 0;
    text-align: center;
    color: var(--color-body-text);
    align-items: center;
    transition:all .5s ease;
    background: transparent;
    border:1px dashed var(--color-lane);
  }
  .toc a:hover {
    background:var(--color-lane-subtle)
  }
  .toc a.active{
      background: var(--color-chrome);
      color: var(--color-body-pop);
      font-weight: 600;
      border:1px solid var(--color-chrome);
      box-shadow:var(--shadow-standard-y);
      border-left: 4px solid var(--color-pop);
      padding-left:1.25em;
  }
  .toc a.done{
      background: var(--color-lane);
      color: var(--color-body-text);
      font-weight: 600;
      border:1px solid var(--color-lane);
  }
  .toc-item.sub{
    margin-left:2em;
    position:relative;
  }
  .toc-item.sub:before{
    content: '';
    border-left: 1px dashed var(--color-lane);
    border-bottom: 1px dashed var(--color-lane);
    position: absolute;
    left: -1em;
    top: -.5em;
    width: 1em;
    height: calc(50% + .5em);
    transition:all .5s ease;
  }
  .toc-item.sub:hover:before{
    border-color:var(--color-lane-subtle)
  }
  .toc-item.sub.last:before{
    content: '';
    top: calc(-50% - .5em);
    height: calc(100% + .5em);
  }
  .help-form {
    background:var(--color-chrome);
    color:var(--color-body-text);
    padding:1em 2em;
    margin-bottom:1em;
    border-radius:3px;
    box-shadow: var(--shadow-standard-y);
  }

  .form-nav{
    display:flex;
    justify-content: space-between;
  }
  .form-nav-button{
    background: var(--color-pop);
    color: var(--color-light);
    padding: .5em 1em;
    margin-top: .9em;
    transition:all .5s ease;
  }
  .form-nav-button:hover{
    background:var(--color-pop-h)
  }
  .form-nav-button.disabled{
    visibility: hidden;
    user-select: none;

  }
  .carousel-cell a{
    color:var(--color-pop);
    text-decoration:underline;
  }
  .carousel-cell a:hover{
    color:var(--color-pop-h)
  }
  .form-label{
    font-weight:600;
  }
  .form-label-help{
    font-size:.875rem;
    margin-bottom:0;
    font-style: italic;
  }
  .box-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:1em 0;
  }
  .box-links a{
    padding: 1em;
    text-decoration: none;
    transition: all .5s ease;
    margin: 1em;
    text-align: center;
    border: 2px solid var(--color-pop);
    background: var(--color-light);
    color: var(--color-pop);
    border-radius: 3px;
  }
  .boundmap{
    display: none;
  }
  .box-links a:hover{
    background-color: var(--color-pop);
    color:var(--color-light);
  }
  .tos-content h1 {
      font-family: 'Roboto', Sans-Serif;
      font-weight: 800;
      font-Size: 2.5em;
      text-transform: capitalize;
      line-height: 1.2;
      padding-bottom: .25em;
      color:var(--color-pop);
    }
    .tos-head{
      background-color: var(--color-pop);
      height:300px;
    }
    .tos-content{
      background: var(--color-body);
      margin-top: -250px;
      padding: 2em;
      box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    }
    .tos-section p{
      background: var(--color-chrome);
      padding: 2em;
      margin: 1em 0;
      box-shadow: 0px 0px 0px rgba(0,0,0,.1);
      border-radius:3px;
      transition:all 1s ease;
    }
    .tos-section p:hover,.tos-section p:focus{
      box-shadow: 0px 0px 8px rgba(0,0,0,.1);
    }
    .tos-section{
      margin-bottom: 1em;
    }
    .site-wrapper{
      background:var(--color-lane)
    }
    .tos-section h2{
      font-family: 'Roboto', Sans-Serif;
    font-weight: 600;
    font-Size: 1.5em;
    text-transform: capitalize;
    line-height: 1;
    color: var(--color-body-text);
    }
    .tos-lead{
      font-weight: 600;
      position: relative;
      padding: 2em 0;
    }
    .tos-lead:before{
      height: 2px;
      content: '';
      background: var(--color-pop);
      position: absolute;
      width: 10%;
      top:0;
    }
    .signed{
      font-family: 'Homemade Apple', cursive;
      font-size: 1.8em;
      text-decoration: underline;
      text-align: center;
      margin: 0;
    }
    .dated{
      text-align: center;
      font-weight: 600;
      font-size: .875em;
    }
    .name-drop{
      color:var(--color-pop);
      transition: all .5s ease;
    }
    .name-drop:hover{
      color:var(--color-pop-h)
    }

    #nameSetter:focus{
      outline:none;
    }
    #button-submit:disabled{
      background-color:var(--color-lane);
      cursor:not-allowed;
      box-shadow:none;
      color:var(--color-body-subtitle);
      outline:none;
    }
    #nameSetter #setName, #button-submit{
      width: 100%;
      text-align: center;
      background: var(--color-pop);
      height: 3em;
      color: var(--color-light);
      cursor: pointer;
      outline: none;
      box-shadow: var(--shadow-standard-y);
      transition: background .5s ease;
    }
    #nameSetter #setName:hover{
      background: var(--color-pop-h);
    }
    #nameSetter input{
      background: var(--color-body);
      color: var(--color-body-text);
    }
    #nameSetter label{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: .875em;
    }
    #nameSetter p{
      font-weight: 600;
      position: relative;
      padding: .5em 0;
    }
    #nameSetter h2{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: 1.5em;
      text-transform: capitalize;
      line-height: 1;
      color: var(--color-body-text);
    }
    #readySign{
        background: var(--color-chrome);
        padding: 1em;
        border-radius: 3px;
        border: 1px dashed var(--color-pop);
      }
    .recaptcha{
      font-size: 0.75rem;
      margin-top: 1em;
      color: var(--color-body-subtitle);
      text-align: right;
    }
    .agreer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em 0 .875em 0;
    }
    .agreer label{
      font-weight: 800;
    }
    #agree,#GuardianAgree{
      width:2em;
      height:2em;
      margin:0;
    }
    #agree:disabled + label{
      color: var(--color-body-subtitle);
    }
    #sigBlock{
        display:none;
    }
    #sigBlock label{
      font-family: 'Roboto', Sans-Serif;
      font-weight: 600;
      font-Size: .875em;
    }
    .name-error{
      color:var(--color-bright-4);
      text-align: center;
      display:none;
    }
    .error-text{
      color:var(--color-bright-4);
      text-align: center;
      display:none;
    }
    .reveal{
      border: none;
      border-radius: 3px;
    }
    .sublabel{
      font-size: .875em;
      font-style: italic;
      color: var(--color-body-subtitle);
    }
    #age{
      display:none;
    }
    #age + label{
      text-align: center;
      color: var(--color-pop);
      margin: .5em auto;
      position: relative;
      width: 100%;
    }
    #age + label:hover{
      color:var(--color-pop-h);
      text-decoration: underline;
    }
    #age:disabled + label{
      color: var(--color-body-subtitle);
      cursor: not-allowed;
    }
    #age:disabled + label:hover{
      color: var(--color-body-subtitle);
      text-decoration: none;
    }
    #age:checked + label:before {
      content: "\f2f7";
      color: var(--color-bright-2);
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      margin-right: .5em;
    } 
    fieldset{
      border-top: 1px solid var(--color-lane);
      margin: 1em 0;
    }
    legend{
      font-size: 1.25em;
      font-weight: 600;
      text-align: center;
      color: var(--color-pop);
    }
    h3{
      margin-top: 2em;
    font-weight: 600;
    font-size: .875rem;
    }
    .error-text{
      font-size: .875em;
      color:var(--color-bright-4);
    }
    .dateWarningNote{
        background: var(--color-body);
        color: var(--color-body-text);
        padding: .5em;
        text-align: center;
        border: 1px dashed var(--color-lane-subtler);
        transition: all .5s ease;
    }
    @media screen and (max-width: 39.9375em) {
      .grid-container.grid-x.grid-margin-x {
        margin: auto;
        padding: 0;
      }
      .help-form{
        padding: 0;
      }
      fieldset{
        border: none;
      }
      h1{
        text-align: center;
      }
    }
    @media print, screen and (min-width: 64em){
      .tos-terms-column{
        max-height: 65vh;
        overflow: auto;
        margin-top: -15em;
        position: relative;
      }
      .tos-terms-column::after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 20px;
        transition: all .5s ease;
        animation: shadow 3s ease-in-out infinite;
      }
      .tos-terms-column.scrolled::after {
        animation:none;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,.3);
      }

      #readySign{
        display:none;
      }
      
      .tos-ready{
        order:2
      }
      .tos-terms-column{
        order:3
      }
      .simplebar-scrollbar:before {
        opacity:.2;
      }
      .simplebar-scrollbar.waiting:before{
        animation: barwait 5s ease-in-out infinite;
      }
    }
    @keyframes shadow {
    0%   { box-shadow: inset 0 -8px 15px -8px rgba(0,0,0,.2);}
    50%  { box-shadow: inset 0 -8px 10px -8px rgba(0,0,0,.3);}
    100% { box-shadow: inset 0 -8px 15px -8px rgba(0,0,0,.2);}
  }
    @keyframes barwait {
      0%   {opacity:.1;transform:translateY(0)}
      50%  {opacity:.3;transform:translateY(20px)}
      100% {opacity:.1;transform:translateY(0)}
    }
  </style>
  <script defer type="text/javascript" src="/js/pages/move-in.js"></script>
</head>
<%- include('../../partials/layout/top.ejs'); %>

<div class="request-page">
  <% if(intent){%>
  <div class="grid-container fluid swim-lane" style=" <%- query.debug == 'true' ? '' : 'display:none' %>">
    <div class="grid-container grid-x align-center">
      <fieldset id="courses-list">

          <h3 style="margin-bottom:0; font-size:1.25em;">User Flags</h3>

            <div id="recID"><%-intent.busObRecId%></div>
            <div id="publicID"><%-intent.busObPublicId%></div>
            <pre>
              <%-intent.fields.find(f => f.name === 'MoveInDateStart')['value']%>
            </pre>
          <pre>
            <%- JSON.stringify(userReg,null,2) %>
          </pre>
          <pre>
            <%- JSON.stringify(regCounts,null,2) %>
          </pre>

      </fieldset>
    </div>
  </div>
  <%}%>
  <div class="grid-container fluid">
    <div class="grid-container grid-x grid-margin-x" style="margin:auto;">
      <div class='cell small-12 medium-12 large-12'>
        <h1>Fall 2021 Move-In</h1>
        <div class="help-form" id="">
        <% if(intent){%>
          <% if(intent.fields.find(f => f.name === 'IsResident')['value'] == "True" && (intent.fields.find(f => f.name === 'MoveInDateStart')['value'] != "" && intent.fields.find(f => f.name === 'MoveInDateStart')['value'] !=  "1/1/1900 12:00:00 AM")){%>
            
            <% if(userReg && userReg.length < 1){%>
            <fieldset id="">
              <legend><i class="fad fa-suitcase"></i> Your Move-In Day</legend>
              <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-4" style="
    background: var(--color-lane);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
">
                  <div style="font-weight:600"><%= moment(new Date(intent.fields.find(f => f.name === 'MoveInDateStart')['value'])).utc().format('dddd, MMM Do YYYY')%></div>
                  <div><%= intent.fields.find(f => f.name === 'RoomLocation')['value']%></div>
                  <div><%= intent.fields.find(f => f.name === 'RoomSpace')['value']%></div>
                </div>
                <div class="cell small-12 medium-8" >
                  <p>By selecting an arrival time on your assigned move-in day you and your helpers are agreeing to adhere to all WPI published guidance.</p>
                  <ul style="font-size: .875em;">
                    <li>You acknowledge and understand the health risks related to COVID-19 and you agree to assume any risks associated.</li>
                    <li>If you are unvaccinated you are expected to wear a face cover on campus, unless in your living environment. If your helpers are unvaccinated they are expected to wear a face cover at all times on campus, even in your living environment. If vaccinated, you and/or your helpers are welcome to also wear a face cover.</li>
                    <li>You will take appropriate steps to safeguard your health, including following social distancing guidance and wearing self-provided face coverings.</li>
                    <li>You may not come to campus if you have a fever or other COVID-19-like symptoms; if you have been advised to self-isolate or get tested for COVID-19; if you have tested positive for COVID-19; or if you have been in close contact with someone, including any member of you household, who has tested positive for COVID-19, is being tested for COVID-19, or has COVID-19-like symptoms. Email <a href="mailto:testingcoordinator@wpi.edu">testingcoordinator@wpi.edu</a> if any of the previous apply.</li>
                  </ul>
                  <p>Email <a href="mailto:res-services@wpi.edu">res-services@wpi.edu</a> if you have any follow up questions!</p>
                </div>
              </div>
              <!-- <div href="#" id="update" style="text-align: right;">
                <i class="fad fa-check-circle"></i> <span style="font-size:.875em;font-style: italic;">Live Updating</span>
              </div> -->
              <div class='grid-x grid-margin-x impact-boxes'>
                <% if(hourSlots && hourSlots.length >= 1){ %>
                  <%for(slot of hourSlots){
                    let current =  regCounts[slot.id] || 0
                    let remaining = slot.limit - current >= 0 ? slot.limit - current : 0;
                    let isDisabled = remaining <= 0 ? "disabled" : "";
                    %>
                    <div class="cell small-12 medium-auto <%-isDisabled%>" id="item-<%-slot.id%>" data-id="<%-slot.id%>">
                      <input type="radio" id="slot-<%-slot.id%>" name="slots" value="<%-slot.id%>" <%-isDisabled%>>
                      <label for="slot-<%-slot.id%>"><%-slot.time%>
                        <div class="qty"><span><%- remaining %></span> remaining</div>
                        <div class="limit" style="display:none"><%-slot.limit%></div>
                      </label>
                      
                    </div>
                  <%}%>
                <%}else{%>
                  <fieldset style="
    width: 100%;
    margin: 1em;
    text-align: center;
">
                    <legend><i class="fad fa-info-circle"></i> Notice!</legend>
                    <p>There are no slots present on your assigned move-in day!</p>
                  </fieldset>
                <%}%>

              </div>

            </fieldset>
            <fieldset id="" style="text-align: center;">
              <legend><i class="fad fa-people-carry"></i> Your Move-In</legend>
              <a href="https://www.wpi.edu/student-experience/housing-dining/living-on-campus/current-students/moving" target="_blank">Please see the Moving In page for more info on move-in.</a>
            </fieldset>
            <button id="button-submit-help-form" class="button-submit">Submit Move-in Time</button>
            </div>
            <%}else{%>
              <div style="display:flex;justify-content: space-between;">
                <div style="display:flex;flex-direction: column;">
                  <h2 style="font-size:1em;font-weight: 600;">My Move-in Time</h2>
                  <div><%= moment(new Date(userReg[0].fields.find(f => f.name === 'Date')['value'])).utc().format('dddd, MMM Do YYYY')%></div>
                  <div><%= moment(new Date(userReg[0].fields.find(f => f.name === 'Time')['value'])).utc().utcOffset(-5).format('h:mm A')%></div>
                  <div id="busObPublicId" style="display: none;"><%=userReg[0].busObPublicId%></div>
                  <div id="busObRecId" style="display: none;"><%=userReg[0].busObRecId%></div>
                  <div id="intentBusObPublicId" style="display: none;"><%=intent.busObPublicId%></div>
                  <div id="intentBusObRecId" style="display: none;"><%=intent.busObRecId%></div>
                </div>
                <div style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                      font-size: 2em;
                      color:var(--color-pop)
                  ">
                  <a href="#" id="cancelReg"  style="color:var(--color-pop)" data-open="removeReg" ><i class="fas fa-times-circle"></i><span class="show-for-sr">Remove Current Registration</span></a>
                </div>
              </div>
              <div class="reveal" id="removeReg" data-reveal>
                <p class="lead">Remove this Move-in Registration?</p>
                <p>If you would like to change your move-in time you will need to void this existing one first.</p>
                
                <button class="button" style="background:var(--color-pop)" id="removeConfirm">Remove this Registration</button>
              
                <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <%}%>
          <%}else{%>
            <fieldset style="
    width: 100%;
    margin: 1em;
    text-align: center;
">
              <legend><i class="fad fa-info-circle"></i> Notice!</legend>
              <p>You are not currently eligible to choose a move-in time. This may be because you have not chosen an onboarding day, or because you are not listed as an active resident. If you believe this is in error please contact <a href="mailto:res-services@wpi.edu">res-services@wpi.edu</a>  </p>
            </fieldset>
          <%}%>
        <%}else{%>
              <fieldset style="
    width: 100%;
    margin: 1em;
    text-align: center;
">
              <legend><i class="fad fa-info-circle"></i> Notice!</legend>
                <p>You do not appear to have an active Intent Survey at this time</p>
              </fieldset>
        <%}%>
      </div>
    </div>
  </div>
</div>
<%
const toasts = [
  {
    id: 'toast-save-success',
    type: 'success',
    title: 'Success',
    message: 'Your Move-in time has been logged.',
    show: false
  },
  {
    id: 'toast-save-error',
    type: 'error',
    title: 'Whoops',
    message: 'Something went wrong trying to reserve your move-in time',
    show: false
  }
];
%>
<%- include('../../partials/components/toaster.ejs', { toasts }); %>

<%- include('../../partials/layout/bottom.ejs'); %>
</html>
