<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <%- include('../partials/header.ejs'); %>
  <%- include('../partials/moment.ejs'); %>
  <link rel="stylesheet" type="text/css" href="/css/search.css">
  <link rel="stylesheet" type="text/css" href="/css/me.css">
  <link rel="stylesheet" type="text/css" href="/css/meAgain.css">
  <script defer type="text/javascript" src="/js/meAgain/profile.js"></script>
</head>
<%- include('../partials/layout/top.ejs'); %>

<%- include('./partials/top.ejs')%>
<div class="grid-container me-section" style="padding:0">
  <div class="grid-x grid-margin-x me-box group me-box-item">

    <div class="cell medium-12">
      <div class="profile-section-boxless">
        <h2 style="margin-bottom: 1em;">Reglink</h2>
        <div class="grid-x grid-margin-x" id="my-courses">

        </div>
      </div>
    </div>
  
  </div>
</div>

<%- include('./partials/bottom.ejs'); %>

<%- include('../partials/layout/bottom.ejs'); %>
</html>